# Node modules
node_modules/
**/node_modules/

# Environment files
.env
.env.*
interview.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency directories (optional duplicates safety)
backend/node_modules/
frontend/node_modules/